.base-container {
    box-sizing: border-box;
    width: 30%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.image {
    height: 80px;
    width: 80px;
}

.header {
    color: #2ba585;
    font-size: 36px;
    margin: 8px auto;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-field {
    border: 2px solid #f7d343;
    height: 32px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 8px;
    font-size: 22px;
    width: 230px;
    background-color: rgb(87, 139, 36);
    color: white;
    cursor: pointer;
    border-radius: 14px;
    transition: all 200ms ease-in-out;
}

.btn:hover {
    background-color: rgb(62, 92, 29);
}

.btn:active {
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.25);
}
