.base-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    height: 80px;
    width: 80px;
}

.header {
    color: #f7d343;
    font-size: 36px;
    margin: 8px auto;
    text-align: center;
}

.form {
    margin: 12px auto;
}

.form-group {
    margin: 10px;
}

.text-field {
    border: 2px solid #f7d343;
    height: 32px;
}

.btn {
    padding: 8px;
    font-size: 18px;
    width: 230px;
    background-color: rgb(87, 139, 36);
    color: white;
    cursor: pointer;
}
